@font-face {
  font-family: "Poppins";
  src: url("$lib/assets/fonts/Poppins-Regular.ttf");
  font-weight: normal;
}

@font-face {
  font-family: "Poppins";
  src: url("$lib/assets/fonts/Poppins-Bold.ttf");
  font-weight: bold;
}

html:root {
  --background: #FFFFFF;
  --foreground: #000000;

  --main-padding: 64px;
}

@media (width <= 1000px) {
  html:root {
    --main-padding: 32px;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

button {
  outline: none;
  border: none;
  background-color: transparent;
  font-family: "Poppins";
  font-size: 16px;
  cursor: pointer;
}

a {
  text-decoration: none;
  color: var(--foreground)
}

.grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 32px;
}

body {
  background-color: var(--background);
  color: var(--foreground);
  font-family: "Poppins";
  font-size: 16px;
  overflow-x: hidden;
}

/* HIDE SCROLLBAR */

/* Firefox */
html {
  scrollbar-width: none;
}

/* IE and Edge */
body {
  -ms-overflow-style: none;
}

/* Chrome */
body::-webkit-scrollbar, body::-webkit-scrollbar-button {
  display: none;
}
