.content {
    margin-left: 390px;
    width: 100%;

    section {
        margin-bottom: 60px;

        .heading {
            position: relative;
            
            .title {
                background-color: $light;
                border: 2px solid $dark;
                padding: 10px 25px;
                font-size: 18px;
                width: fit-content;
                font-weight: 600;
            }

            &::after {
                content: '';
                position: absolute;
                bottom: 0;
                left: 0;
                height: 2px;
                width: 100%;
                background-color: $dark;
            }
        }

        .sub-heading {
            position: relative;
            margin-top: 30px;
            
            .title {
                background-color: $light;
                border: 2px solid $dark;
                padding: 7px 18px;
                font-size: 13px;
                width: fit-content;
                font-weight: 600;
            }

            &::after {
                content: '';
                position: absolute;
                bottom: 0;
                left: 0;
                height: 2px;
                width: 100%;
                background-color: $dark;
            }
        }
    }

    section.skills {
        
        .container {
            display: flex;
            flex-wrap: wrap;
            gap: 10px;
            padding-top: 10px;

            .skill-wrapper {
                transition: transform 100ms linear;

                &:hover {
                    transform: scale(1.05);
                }

                .skill {
                    @include shadow;
                    background-color: $light;
                    display: inline-flex;
                    align-items: center;
                    padding: 5px;
    
                    .icon {
                        height: 25px;
                    }
    
                    .name {
                        font-size: 13px;
                        margin-left: 5px;
                    }
                }
            }
        }
    }

    section.projects {

        .project-wrapper {
            transition: transform 100ms linear;

            &:hover {
                transform: scale(1.01);
            }

            .project {
                @include shadow;
                background-color: $light;
                display: flex;
                margin-top: 20px;

                img {
                    object-fit: cover;
                    object-position: center;
                    min-height: 150px;
                    width: 200px;
                    border-top-left-radius: 7px;
                    border-bottom-left-radius: 7px;
                    border-right: 2px solid $dark;
                }

                .text {
                    display: flex;
                    flex-direction: column;
                    padding: 10px;

                    .title {
                        font-size: 22px;
                        font-weight: 600;
                        margin-bottom: 3px;
                    }

                    .description {
                        font-size: 15px;
                        margin-bottom: 5px;overflow: hidden;
                        text-overflow: ellipsis;
                        display: -webkit-box;
                        -webkit-line-clamp: 4;
                        -webkit-box-orient: vertical;
                    }

                    .tag-container {
                        display: flex;
                        flex-wrap: wrap;
                        gap: 5px;
                        margin-top: auto;

                        & > * {
                            background-color: $dark;
                            border-radius: 100px;
                            color: $light;
                            padding: 5px 10px;;
                            font-size: 12px;
                            opacity: 0.7;
                        }
                    }
                }
            }
        }
    }

    section.contact-me {
        margin-bottom: 20px;

        input, textarea, button {
            border: 2px solid $dark;
            border-radius: 7px;
            padding: 10px;
            width: 100%;
            margin-bottom: 5px;
            background-color: $light;
        }

        input {
            margin-top: 20px;
        }

        textarea {
            height: 200px;
            resize: none;
        }

        .button-wrapper {
            @include button;
        }
    }

    footer {
        text-align: center;
    }
}
