@import "./../variables";
@import "./../mixins";

section.scrollable section.projects {

	.project-wrapper {
		transition: transform 100ms ease;

		&:hover {
			transform: scale(1.02);
		}

		.project {
			position: relative;
			display: flex;
			margin-bottom: 15px;
			min-height: 150px;
			@include add-shadow(2px, 2px);

			.img {
				min-width: 40%;
				border-right: 2px solid $dark;
				border-radius: 5px;
				background-repeat: no-repeat;
				background-position: center;
				background-size: cover;
			}

			.about {
				padding: 10px;
				display: flex;
				justify-content: space-between;
				flex-direction: column;

				.title {
					font-size: 1.5rem;
				}

				.description {
					display: -webkit-box;
					-webkit-line-clamp: 4;
					-webkit-box-orient: vertical;
					overflow: hidden;
					text-overflow: ellipsis;
					font-size: 0.8rem;
				}

				.tags {
					display: flex;
					flex-wrap: wrap;
					gap: 5px;
					margin-top: 10px;
					
					.tag {
						background-color: $dark;
						color: $light;
						font-size: 0.7rem;
						padding: 3px 7px;
						border-radius: 10px;
						list-style-type: none;
						opacity: 0.6;
					}
				}
			}

			.github {
				position: absolute;
				bottom: 10px;
				left: 10px;
				font-size: 1.5rem;
			}
		}
	}
}
